---
permalink: /404.html
layout: default
title: 404 Page
---

<div class="container my-7">
   <div class="row">
      <div class="col-md-6 align-self-center">
	      <img class="img-responsive" src={{ '/assets/img/moon_man.png' | relative_url }}>
      </div>
       <div class="col-md-6 align-self-center">
        <h1>404</h1>
        <h2>Page not Found.</h2>
        <p>You can click the button below
          to go back to the homepage.
        </p>
	<a class="error_btn green" href={{ '/' | relative_url }}>HOME</a>
      </div>
    </div>
  </div>
