<footer class="bg-light">
	<div class="container">
		<!-- <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
			<div class="me-5 d-none d-lg-block">
				<span>Connect with NFDI4Microbiota on social networks:</span>
			</div>
		</section> -->
		<section>
			<div class="container text-left text-md-start mt-0">
				<div class="row mt-3">
        			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
	  					<a target="_blank" href="https://digital-strategy.ec.europa.eu/en/activities/digital-programme/">
                            <img src={{ '/assets/img/EN_Co-fundedbytheEU_RGB_POS.png' | relative_url }} class="img-fluid" alt="eu_logo">
                        </a>
					</div>
        			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
<!--                        <h6 class="text-uppercase fw-bold mb-2">Legals</h6>-->
<!--                        <p>-->
<!--							<a href={{ '/legals/privacy-policy' | relative_url }} class="footer-link">-->
<!--								<i class="fas fa-lock me-3"></i>-->
<!--								Privacy policy-->
<!--							</a>-->
<!--						</p>-->
<!--                        <p>-->
<!--							<a href={{ '/legals/impressum' | relative_url }} class="footer-link">-->
<!--								<i class="fas fa-scale-balanced me-3" style="max-width:16px;"></i>-->
<!--								Impressum-->
<!--							</a>-->
<!--						</p>-->
<!--                        <p>-->
<!--							<a href={{ '/legals/disclaimer' | relative_url }} class="footer-link">-->
<!--								<i class="fas fa-file-lines me-3 ms-1"></i></i>-->
<!--								Disclaimer-->
<!--							</a>-->
<!--						</p>-->
        			</div>
        			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-2">Social media</h6>
                        <p>
							<a target="_blank" href="https://www.linkedin.com/company/biont-training/" class="footer-link">
								<i class="fab fa-linkedin me-3"></i>
								Linkedin
							</a>
						</p>
                        <p>
							<a target="_blank" href="https://twitter.com/biont_training?lang=en" class="footer-link">
								<i class="fab fa-twitter me-3"></i>
								Twitter
							</a>
						</p>
        			</div>
        			<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-2">Contact</h6>
<!--                        <p>-->
<!--							<a href={{ '/contact-form' | relative_url }} class="footer-link">-->
<!--								<i class="fas fa-paper-plane me-3"></i>-->
<!--								Contact & FAQ-->
<!--							</a>-->
<!--						</p>-->
                        <p>
<!--							<a href="https://lists.nfdi.de/postorius/lists/nfdi4microbiota-announce.lists.nfdi.de/" -->
<!--							   class="footer-link"-->
<!--							   target="_blank">-->
<!--								<i class="fas fa-envelopes-bulk me-3"></i>-->
<!--								Mailing list-->
<!--							</a>-->
						</p>
                        <!--<p><i class="fas fa-phone me-3"></i> +49 (0)221 478-5685</p> !-->
        			</div>
				</div>
			</div>
        </section>
    </div>
</footer>
