<nav class="navbar navbar-expand-lg navbar-light  bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand ms-2" href={{ '/' | relative_url }}>
      <img src={{ '/assets/img/BioNT_Logo_Layout_2106_blue_Version_2_cropped.png' | relative_url }} alt="" width="80" height=""
        class="img-fluid" style="max-height: 85px; max-width:150px;">
    </a>
    <!-- <a class="navbar-brand ms-2" href="https://www.dfg.de/">
      <img src={{ '/assets/img/dfg_logo_schriftzug_blau_foerderung_en__1200x376.png' | relative_url }} alt="" width="400"
        height="100" class="img-fluid" style="max-height: 100px; max-width:250px;">
    </a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-self-sm-end" id="navbarSupportedContent">
      <!-- Navigation items start -->
      <ul class="nav navbar-nav ms-auto">

        <!-- About Us-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href={{ '/about' | relative_url }}>Work Program</a>
              <ul class="dropdown-menu custom-dropdown submenu-ul">
                <li>
                  <a class="dropdown-item" href={{ '/work-programme/wp1-Training_design_and_development' | relative_url }}>WP 1 -
                    Training design and development </a>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href={{ '/work-programme/wp2-Training_needs_in_industry' | relative_url }}>WP 2 –
                    Training needs in industry</a>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href={{ '/work-programme/wp3-Training_delivery' | relative_url }}>WP 3 – Training delivery </a>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href={{ '/work-programme/wp4-Technical_Infrastructure' | relative_url }}>WP 4
                    – Technical Infrastructure </a>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href={{ '/work-programme/wp5-Data_analysis_Information' | relative_url }}>WP
                    5 – Data analysis and information </a>
                                    <hr class="dropdown-divider">
                </li>
                                <li>
                  <a class="dropdown-item" href={{ '/work-programme/wp6-Community_and_capacity_building' | relative_url }}>WP 6
                    – Community and capacity building </a>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href={{ '/work-programme/wp7-Project_management_and_coordination | relative_url }}>WP 7
                    – Project management and coordination </a>
                </li>
              </ul>
            </li>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/consortium/partners' | relative_url }}>Partners</a>
<!--            <a class="dropdown-item" href={{ '/consortium/participants' | relative_url }}>Participants</a>-->
<!--            <hr class="dropdown-divider">-->
<!--            <a class="dropdown-item" href={{ '/consortium/supporting-societies' | relative_url }}>Professional-->
<!--              Societies</a>-->
<!--            <hr class="dropdown-divider">-->
<!--            <a class="dropdown-item" href={{ '/consortium/international-partners' | relative_url }}>International-->
<!--              Networks</a>-->

            <!-- submenu-->

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Community
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href={{ '/ambassador' | relative_url }}>Ambassador Program</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/consortium/interactions' | relative_url }}>Interactions with other
              communities</a>
          </div>
<!--        </li>-->


        <li class="nav-item">
          <a class="nav-link" href={{ '/surveys/' | relative_url }}>Surveys</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Content Hub
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://nfdi4microbiota.github.io/nfdi4microbiota-knowledge-base/">Knowledge
              Base</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/docs' | relative_url }}>Handbook</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/content-hub/glossary' | relative_url }}>Glossary</a>
          </div>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Training
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href={{ '/training/training' | relative_url }}>
              Training calendar
             </a>
             <!--<hr class="dropdown-divider">
	     <a class="dropdown-item" href={{ '/training/course-submission' | relative_url }}>Training submission</a>-->
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Newsroom
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href={{ '/latest/news' | relative_url }}>Latest News</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/latest/events' | relative_url }}>Events</a>
<!--            <a class="dropdown-item" href={{ '/latest/newsletter' | relative_url }}>Newsletters</a>-->
<!--            <hr class="dropdown-divider">-->
<!--            <a class="dropdown-item" href={{ '/latest/publications' | relative_url }}>Publications</a>-->
<!--            <hr class="dropdown-divider">-->
<!--            <a class="dropdown-item" href={{ '/latest/jobs' | relative_url }}>Jobs</a>-->
          </div>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Downloads
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href={{ '/downloads/community-workshops' | relative_url }}>Workshops</a><hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/downloads/nfdi-conferences' | relative_url }}>NFDI conferences</a><hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/downloads/zenodo-communities' | relative_url }}>Zenodo communities</a>
          </div>
        </li> -->

<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href={{ '/contact-form' | relative_url }}>Helpdesk</a>-->
<!--        </li>-->

        <!-- <li class="nav-item">
          <a class="nav-link" href={{ '/contact-form' | relative_url }}>FAQs</a>
        </li> -->

      </ul>

      <!-- Search bar -->
      <!-- <form class="d-flex">
        <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form> -->

    </div>
  </div>
</nav>
