---
layout: default
custom_css: markdown

schemas:
  "@context": https://schema.org/
  "@type": WebPage
  "@id": http://biont-training.eu/latest/events
  "http://purl.org/dc/terms/conformsTo":
    "@type": CreativeWork
    "@id": "https://bioschemas.org/profiles/TrainingMaterial/0.9-DRAFT-2020_12_08/"
  "description": "List of events organized by BioNT or to which a BioNT partner participates"
  "keywords": "Conference, Symposium, Workshop, Poster, Talk, Keynote, Lecture, Summer School"
---

<h2 class="container my-5"> Events </h2>

<div class="container md news_item">
    <p class="my-5">BioNT consortium is represented and active at several events throughout the year. Here we will announce about events we take part or organize.</p>

    <table class="container mb-5 md news_item">
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Presentation type</th>
                <th>Event</th>
                <th>Location</th>
                <th>:date: Date</th>
                <th>Further information</th>
            </tr>
        </thead>
        <tbody>
            {% assign events = site.events | sort: date %}
            {% for e in events %}
            <tr>
                <td>{{e.title}}</td>
                <td>{{e.authors}}</td>
                <td>{{e.type}}</td>
                <td>{{e.event}}</td>
                <td>{{e.location}}</td>
                <td>{{e.date | date: "%Y-%m-%d"}}</td>
                {% if e.info == "None" %}
                    <td></td>
                {% else %}
                    <td><a href="{{e.info}}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
