---
layout: default
custom_css: markdown


schemas:
  "@context": https://schema.org/
  "@type": WebPage
  "@id": https://nfdi4microbiota.de/latest/publications
  "http://purl.org/dc/terms/conformsTo":
    "@type": CreativeWork
    "@id": "https://bioschemas.org/profiles/TrainingMaterial/0.9-DRAFT-2020_12_08/"
  "description": "List of publications by NFDI4Microbiota partners with DOI or URL"
---

<h2 class="container mt-5"> Publications </h2>
<div class="container my-4">

	{% assign publications = site.publications %}
	{% for publication in publications %}

	<div class="container md mt-3">
		<h3 style="margin-bottom:5px;">{{ publication.title}}</h3> {{ publication.author}}<br> <em>{{ publication.journal }}</em><strong>{{ publication.volume }}</strong>, {{ publication.page }} ({{ publication.year }}). <a href="{{ publication.doi }}">{{ publication.doi }}</a>
		<hr/>
	</div>

	{% endfor %}
	
</div>


