body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.main {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

a {
  text-decoration: none !important;
}

.custom-dropdown .btn:active,
.custom-dropdown .btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}

.custom-dropdown .btn.btn-custom {
  border: 1px solid #efefef;
}

.custom-dropdown .dropdown-link {
  display: inline-block;
  padding-right: 40px;
  position: relative;
}

.custom-dropdown .dropdown-item {
  font-size: 14px;
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 10px;
  position: relative;
}

.custom-dropdown .dropdown-item:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #efefef;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.custom-dropdown .dropdown-item:hover {
  color: #000;
}

.custom-dropdown .dropdown-item:hover:before {
  top: 50%;
  background: #1C6E8C;
}

/* .custom-dropdown .dropdown-menu {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  margin-top: 0px !important;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  left: 0 !important;
  -webkit-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
  -o-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
  transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
  visibility: hidden; } */
.custom-dropdown .dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  margin-top: 20px !important;
}

.dropdown-divider {
  border-bottom: 1px solid #efefef;
  margin: .1rem 0;
}

.my-7 {
  margin-top: 4rem;
  margin-bottom: 4rem;

}

.mb-7 {
  margin-bottom: 8rem !important;

}

.news_item p>img {
  max-width: 100%;
  box-sizing: content-box;
}

.error_btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}

.green {
  border: 4px solid #1C6E8C;
  color: #0e0620;
}

.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #1C6E8C;
  z-index: -1;
  transition: 0.2s ease;
}

.green:hover {
  color: #fff;
  background: #1C6E8C;
  transition: 0.2s ease;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #1C6E8C;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* footer icons and links */
.footer-link {
  color: rgba(0, 0, 0, 0.7);
}

.footer-link:hover {
  color: #1C6E8C;
}

.fa-twitter:hover {
  color: #1C6E8C;
}

.fa-google:hover {
  color: #1C6E8C;
}

.fa-github:hover {
  color: #1C6E8C;
}

.fa-lock:hover {
  color: #1C6E8C;
}

.fa-scale-balanced:hover {
  color: #1C6E8C;
}

.fa-file-lines:hover {
  color: #1C6E8C;
}

.fa-paper-plane:hover {
  color: #1C6E8C;
}

.fa-envelopes-bulk:hover {
  color: #1C6E8C;
}

.news_header a {
  color: #444444 !important;
  transition: all 0.3s ease 0s;
}

.news_header a:hover {
  color: #1C6E8C !important;
}

iframe.embed-responsive-item {
  width: 100%;
  height: 100%;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}

/* Hidden input */
#fs-frm input.dispnon {
  display: none;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}

#fs-frm [type="submit"]:hover {
  background-color: #1C6E8C;

}

#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

.search_result {
  z-index: 99;
  position: absolute;
}

.search_result-docs {
  z-index: 99;
  position: absolute;
}


/* for floating buttons */
.float {
  /* position:inherit; */
  display: inline-block;
  width: 60px;
  height: 60px;
  /* bottom:40px;
	right:40px; */
  background-color: #1C6E8C;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  margin-top: 5px;
  ;
}

.my-float {
  margin-top: 22px;
}

.floatpanel {
  position: fixed;
  width: 60px;
  height: 240px;
  bottom: 10%;
  right: 2%;
}

/* To show the calender in place of icon on the event section */
.update-event_icon {
  width: 2.70em;
  float: left;
  margin-right: 0.75em;
  display: inline-block;
}

.event_month {
  background: #1C6E8C;
  text-align: center;
  font-weight: bold;
  font-size: 0.95em;
  color: white;
}

.event_day {
  border: 1px solid #999;
  background: white;
  color: black;
  font-size: 0.95em;
  font-weight: bold;
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  text-align: center;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -1px;
}

.navbar-nav li:hover>ul.submenu-ul {
  display: block;
}

/* For search functionality */

.wrapper, .search-data{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper{
  position: fixed;
  height: 0px;
  width: 0px;
  border-radius: 100%;
  /* background:linear-gradient(-135deg, #ffb12d, #eff0f3); */
  background: #1C6E8C;
  transition: all 0.4s linear;
}
.wrapper.active{
  height: 4000px;
  width: 4000px;
}
.search-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.search-btn span{
  color: #fff;
  font-size: 22px;
  line-height: 60px;
}
.search-data{
  position: absolute;
  height: 50px;
  width: 400px;
  display: flex;
  text-align: center;
  /* display: none; */
}
.search-data input{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.search-data .line{
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.4s 0.3s linear;
}
.search-data .line.active{
  transform: scaleX(1);
}
.search-data label{
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(255,255,255,0.7);
}
.search-data input:valid ~ label{
  opacity: 0;
}
.search-data span{
  color: #fff;
  position: absolute;
  width: 50px;
  font-size: 25px;
  right: 0;
  top: 0;
  line-height: 45px;
  cursor: pointer;
}
.close-btn{
  position: absolute;
  z-index: 99;
  right: 25px;
  top: 25px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
.search-data, .search-data span,
.search-data label, .close-btn{
  display: none;
}
