---
title: Partners
layout: default

schemas:
  "@context": "https://schema.org/"
  "@type": "WebPage"
  "@id" : "https://nfdi4microbiota.de/consortium/Partners"
  "http://purl.org/dc/terms/conformsTo":
    "@type": "CreativeWork"
    "@id": "https://bioschemas.org/profiles/DataCatalog/0.3-RELEASE-2019_07_01/"
  "description": "List of core NFDI4Microbiota partner institutions and their logos"
  "keywords": "Bielefeld University, German Collection of Microorganisms and Cell Cultures, Friedrich Schiller University Jena, European Molecular Biology Laboratory, Helmholtz Center for Environmental Research, Helmholtz Center for Infection Research, Justus-Liebig-University Giessen, Phillips-University Marburg, RWTH Aachen University, ZB MED - Information center for Life Sciences"
---
<!-- Exports header and navbar from header.html
     or any file you want-->

   
<h3 class="my-7 container"> Partners </h3>

<div class="container">
	<p>BioNT is an international consortium of academic entities and SMEs with the aim to provide a high-quality training
		program and community for digital skills relevant to the biotechnology industry and biomedical sector. <br>
		</p>
	<div class="row">
 		<div class="col-6">
   			<div class="card mb-3 border-0">
  				<div class="row g-0">
    					<div class="col-md-4">
      						<div class="card-body">
  							<img src={{ '/assets/img/partners_logo/EMBL.png' | relative_url }}  class="img-fluid" alt="EMBL_logo">
						</div>
    					</div>
    					<div class="col-md-8">
      						<div class="card-body">
        						<h5 class="card-title">European Molecular Biology Laboratory</h5>
    							<p class="card-text">Prof. Dr. Jan Korbel </p>
    							<a target="_blank" href="https://www.embl.org/sites/heidelberg/" class="btn btn-warning">Visit</a>
     	 					</div>
    					</div>
    				</div>
   			</div>
 		</div>
		<div class="col-6">
   			<div class="card mb-3 border-0">
				<div class="row g-0">
    					<div class="col-md-4">
						<div class="card-body">
  							<img src={{ '/assets/img/partners_logo/ZB-MED.gif' | relative_url }} class="img-fluid" alt="ZBMED_logo">
						</div>
    					</div>
    					<div class="col-md-8">
      						<div class="card-body">
        						<h5 class="card-title">ZB MED – Information Centre for Life Sciences</h5>
    							<p class="card-text">Prof. Dr. Konrad Förstner <br>Silvia Di Giorgio</p>

    							<a target="_blank" href="https://www.zbmed.de/en/" class="btn btn-warning">Visit</a>
     	 					</div>
    					</div>
    				</div>
   			</div>
 		</div>
	</div>
   <hr>

	<div class="row">
 		<div class="col-6">
   			<div class="card mb-3 border-0">
  				<div class="row g-0">
    					<div class="col-md-4">
						<div class="card-body">
  							<img src={{ '/assets/img/partners_logo/182px-Logo_EPFL.svg.png' | relative_url }} class="img-fluid" alt="EPFL_logo">
						</div>
    					</div>
    					<div class="col-md-8">
      						<div class="card-body">
        						<h5 class="card-title">École polytechnique fédérale de Lausanne</h5>
    							<p class="card-text"></p>
    							<a target="_blank" href="https://www.epfl.ch/en/" class="btn btn-warning">Visit</a>
     	 					</div>
    					</div>
    				</div>
   			</div>
 		</div>
		<div class="col-6">
   			<div class="card mb-3 border-0">
  				<div class="row g-0">
    					<div class="col-md-4">
						<div class="card-body">
  							<img src={{ '/assets/img/partners_logo/Logo_Universitat_de_Barcelona.png' | relative_url }} class="img-fluid" alt="UB_logo">
						</div>
    					</div>
    					<div class="col-md-8">
      						<div class="card-body">
        						<h5 class="card-title">University of Barcelona</h5>
    							<p class="card-text">Alan O'Cais</p>
    							<a target="_blank" href="https://web.ub.edu/en/web/ub/" class="btn btn-warning">Visit</a>
     	 					</div>
    					</div>
    				</div>
   			</div>
 		</div>
	</div>
   <hr>
	<div class="row">
		<div class="col-6">
   			<div class="card mb-3 border-0">
  				<div class="row g-0">
    					<div class="col-md-4">
						<div class="card-body">
  							<img src={{ '/assets/img/partners_logo/20221107-UFR-logo-blue-rgb-344A9A.jpg' | relative_url }} class="img-fluid" alt="ALU_FR_logo">
						</div>
    					</div>
    					<div class="col-md-8">
      						<div class="card-body">
        						<h5 class="card-title">Albert-Ludwigs-Universität Freiburg</h5>
    							<p class="card-text">Dr. Berenice Batut </p>
    							<a target="_blank" href="https://uni-freiburg.de/" class="btn btn-warning">Visit</a>
     	 					</div>
    					</div>
    				</div>
   			</div>
 		</div>
		<div class="col-6">
   			<div class="card mb-3 border-0">
  				<div class="row g-0">
    					<div class="col-md-4">
						<div class="card-body">
  							<img src={{ '/assets/img/partners_logo/University_of_Oslo_seal.svg.png' | relative_url }} class="img-fluid" alt="UO_logo">
						</div>
    					</div>
    					<div class="col-md-8">
      						<div class="card-body">
        						<h5 class="card-title">University of Oslo</h5>
    							<p class="card-text">Dr. Sabry Razick </p>
    							<a target="_blank" href="https://www.uio.no/english/" class="btn btn-warning">Visit</a>
     	 					</div>
    					</div>
    				</div>
   			</div>
 		</div>
	</div>
   <hr>

	<div class="row">
 		<div class="col-6">
   			<div class="card mb-3 border-0">
  				<div class="row g-0">
    					<div class="col-md-4">
						<div class="card-body">
  							<img src={{ '/assets/img/partners_logo/logo-2.png' | relative_url }}  class="img-fluid" alt="BI_logo">
						</div>
    					</div>
    					<div class="col-md-8">
      						<div class="card-body">
        						<h5 class="card-title">BioByte Solutions</h5>
    							<p class="card-text">Ivica Letunic</p>
    							<a target="_blank" href="https://www.biobyte.de/" class="btn btn-warning">Visit</a>
     	 					</div>
    					</div>
    				</div>
   			</div>
 		</div>
 		<div class="col-6">
   			<div class="card mb-3 border-0">
  				<div class="row g-0">
    					<div class="col-md-4">
						<div class="card-body">
  							<img src={{ '/assets/img/partners_logo/website-logo.png' | relative_url }}  class="img-fluid" alt="SC_logo">
						</div>
    					</div>
    					<div class="col-md-8">
      						<div class="card-body">
        						<h5 class="card-title">Simula consulting</h5>
    							<p class="card-text">Dr. Håkon Kvale Stensland</p>
    							<a target="_blank" href="https://simula.consulting/" class="btn btn-warning">Visit</a>
     	 					</div>
    					</div>
    				</div>
   			</div>
 		</div>
	</div>
   <hr>

	<div class="row">
 		<div class="col-6">
   			<div class="card mb-3 border-0">
  				<div class="row g-0">
    					<div class="col-md-4">
						<div class="card-body">
  							<img src={{ '/assets/img/partners_logo/logo_hpc_now_color.png' | relative_url }} class="img-fluid" alt="HPC_logo">
						</div>
    					</div>
    					<div class="col-md-8">
      						<div class="card-body">
        						<h5 class="card-title">HPCNow!</h5>
    							<p class="card-text">Elisabeth Ortega</p>
    							<a target="_blank" href="https://hpcnow.com/" class="btn btn-warning">Visit</a>
     	 					</div>
    					</div>
    				</div>
   			</div>
<!-- 		</div>-->
<!-- 		<div class="col-6">-->
<!--   			<div class="card mb-3 border-0">-->
<!--  				<div class="row g-0">-->
<!--    					<div class="col-md-4">-->
<!--						<div class="card-body">-->
<!--  							<img src={{ '/assets/img/partners_logo/ZB-MED.gif' | relative_url }} class="img-fluid" alt="ZBMED_logo">-->
<!--						</div>-->
<!--    					</div>-->
<!--    					<div class="col-md-8">-->
<!--      						<div class="card-body">-->
<!--        						<h5 class="card-title">ZB MED – Information Centre for Life Sciences</h5>-->
<!--    							<p class="card-text">Prof. Dr. Konrad Förstner</p>-->
<!--    							<a target="_blank" href="https://www.zbmed.de/en/" class="btn btn-warning">Visit</a>-->
<!--     	 					</div>-->
<!--    					</div>-->
<!--    				</div>-->
<!--   			</div>-->
<!-- 		</div>-->
<!--	</div>-->

</div>


