---
title: Professional-societies
layout: default

schemas:
  "@context": "https://schema.org/"
  "@type": "WebPage"
  "@id" : "https://nfdi4microbiota.de/consortium/supporting-societies"
  "http://purl.org/dc/terms/conformsTo":
    "@type": "CreativeWork"
    "@id": "https://bioschemas.org/profiles/DataCatalog/0.3-RELEASE-2019_07_01/"
  "description": "List of professional societies associated with NFDI4Microbiota"
  "keywords": "Deutsche Gesellschaft fur Hygiene und Mikrobiologie, Geselschaft fur Virologie e. V, Deutschen Geselschaft fur Parasitologie, Vereinigung fur Allgemeine und Angewandte Mikrobiologie, Deutsche Gesellschaft fur Mykologie"
---

<h3 class="my-7 container"> Supporting Societies </h3>

<div class="container mb-4 md news_item">
	<div class="row">
		<div class="col-md-4">
			<div class="card mb-3">
				<div class="card-img-top">
					<a target="_blank"  href="https://www.dghm.org/"><img src={{ '/assets/img/partners_logo/dghm_logo.jpg' | relative_url }} class="img-fluid mx-auto d-block" alt="dghm_logo"></a>
				</div>
				<div class="card-footer">
        				<p class="card-text">Deutsche Gesellschaft für Hygiene und Mikrobiologie </p>
      				</div>
			</div>
  		</div>
		<div class="col-md-4">
			<div class="card mb-3">
				<div class="card-img-top">
					<a target="_blank"  href="https://g-f-v.org/en/"><img src={{ '/assets/img/partners_logo/gfv_logo.jpg' | relative_url }} class="img-fluid mx-auto d-block" alt="gfv_logo"></a>
				</div>
				<div class="card-footer">
        				<p class="card-text">Gesellschaft für Virologie e.V. </p>
      				</div>
			</div>
  		</div>
		<div class="col-md-4">
			<div class="card mb-3">
				<div class="card-img-top">
					<a target="_blank"  href="https://dgparasitologie.de/"><img src={{ '/assets/img/partners_logo/dgp.png' | relative_url }} class="img-fluid mx-auto d-block" alt="dgp_logo"></a>
				</div>
				<div class="card-footer">
        				<p class="card-text">Deutschen Gesellschaft für Parasitologie </p>
      				</div>
			</div>
  		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card mb-3">
				<div class="card-img-top">
					<a target="_blank"  href="https://vaam.de/"><img src={{ '/assets/img/partners_logo/vaam-logo.png' | relative_url }} class="img-fluid mx-auto d-block" alt="vaam_logo"></a>
				</div>
				<div class="card-footer">
        				<p class="card-text">Vereinigung für Allgemeine und Angewandte Mikrobiologie </p>
      				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-3">
				<div class="card-img-top">
				<a target="_blank"  href="https://www.dgfm-ev.de/"><img src={{ '/assets/img/partners_logo/DGFM-logo.png' | relative_url }} class="img-fluid mx-auto d-block" alt="DGFM_logo"></a>
				</div>
				<div class="card-footer">
        				<p class="card-text">Deutsche Gesellschaft für Mykologie (DGfM, German Society for Mycology)</p>
      				</div>
			</div>
		</div>
	</div>

</div>
 
