<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <!-- Bootstrap 5 CSS only -->
  <link rel="stylesheet" href={{ '/assets/css/bootstrap.min.css' | relative_url }}>
  <!-- Font awesome 5 CSS only -->
  <link rel="stylesheet" href={{ '/assets/css/main.css' | relative_url }}>
  <link rel="stylesheet" href={{ '/assets/css/fa-pro-5.10.0.all.css' | relative_url }}>
  <link rel="stylesheet" href={{ '/assets/css/fa-6.0.0.all.min.css' | relative_url }}>
  <!-- DataTable css file -->
  <link rel="stylesheet" href={{ '/assets/css/jquery.dataTables.css' | relative_url }}>
  <link rel="stylesheet" href={{ '/assets/css/select2.min.css' | relative_url }}>
  <link rel="icon" type="imafge/x-icon" href={{ '/assets/img/BioNT.ico' | relative_url }}>
  {% if page.custom_css %}
  <link rel="stylesheet" href={{ '/assets/css/markdown.css' | relative_url }}>
  {% endif %}

  {% if page.docs_css %}
  <link rel="stylesheet" href={{ '/assets/css/sidebar.css' | relative_url }}>
  {% endif %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "WebPage",
        "@id" : "http://biont-training.eu/",
        "http://purl.org/dc/terms/conformsTo": {
            "@type": "CreativeWork",
            "@id": "https://bioschemas.org/profiles/DataCatalog/0.3-RELEASE-2019_07_01/"
        },
        "funder": {
            "address": "European Union ",
            "telephone": "",
            "url": "https://ec.europa.eu/info/funding-tenders/opportunities/portal/screen/opportunities/topic-details/digital-2022-training-02-short-courses"
        },
        "headline": "BioNT official website",
        "language": "English",
        "keywords": "Digital skills, Research, Community, Life Sciences, Events, Training, Services, Tools, Infrastructure, Research Data Management, FAIR",
        "maintainer": {
            "address:": "Deutsche Zentralbibliotek Medizin Gleueler Str. 60, 50931 Köln",
            "url": "https://www.zbmed.de/"
        },
        "text": "BioNT official website",
        "version": "0.1",
        "description": "BioNT official website",
        "url": "http://biont-training.eu/"
      }
</script>
</head>

<body class="d-flex flex-column min-vh-200">

  {%- include navbar.html -%}


  <div class="content main">
    {{ content }}
    <div class="floatpanel">
<!--	    <a href={{ "/contact-form" | relative_url }} class="float">-->
<!--        <i class="fa fa-envelope my-float"></i>-->
<!--      </a>-->
<!--      <a href="https://twitter.com/nfdi4microbiota?lang=en" class="float">-->
<!--        <i class="fa-brands fa-twitter my-float"></i>-->
<!--      </a>-->
<!--      <a href="https://github.com/NFDI4Microbiota" class="float">-->
<!--        <i class="fa-brands fa-github my-float"></i>-->
      </a>
      <a href={{ "/search" | relative_url }} class="float">
        <i class="fa fa-search my-float"></i>
      </a>
    </div>



  </div>

  {%- include footer.html -%}

  <!-- HTML specifically for Modal -->
  <div class="modal fade" id="basicmodal" tabindex="-1" aria-labelledby="basicmodallabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="basicmodallabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>
  <!-- Modal HTML ends here -->
  <!--  Start: Search small floater -->
  <div class="close-btn">
    <span class="fas fa-times"></span>
  </div>
  <div class="wrapper">
    <!-- <div class="search-btn">
       <span class="fas fa-search"></span>
    </div> -->


  <div class="search-data">
      <form class="d-flex">
        <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-warning" type="submit">Search</button> -->
      </form>
      <div class="list-group col-lg-11 col-md-11 search_result" id="results-container">
      </div>

      <!-- <form class="d-flex">
        <input id="search-input" class="me-2" type="search" required>
        <div class="line"></div>
        <label>Type to search..</label>
        <span class="fas fa-search"></span>
      </form>
       <input type="text" required>
      </form> -->
      <!-- <input type="text" required>
      <div class="line"></div>
      <label>Type to search..</label>
      <span class="fas fa-search"></span> -->
    </div>
  </div>
  <!--  End: Search small floater -->


  <!-- JavaScript Bundle with Popper -->
  <script src={{ '/assets/js/bootstrap.bundle.min.js' | relative_url }} type="text/javascript"></script>
  <script src={{ '/assets/js/fa-6.0.0.all.min.js' | relative_url }} type="text/javascript"></script>
  <script src={{ '/assets/js/simple-search.js' | relative_url }} type="text/javascript"></script>
  <!-- For dataTable jQuery and DataTable Plugin  reuiqred -->
  <script src={{ '/assets/js/jquery-3.6.0.js' | relative_url }} type="text/javascript"></script>
  <script src={{ '/assets/js/jquery.dataTables.js' | relative_url }} type="text/javascript"></script>
  <script src={{ '/assets/js/jquery.validate.min.js' | relative_url }} type="text/javascript"></script>
  <script src={{ '/assets/js/select2.min.js' | relative_url }} type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  <!--<script>
SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    searchResultTemplate: "<a href='{{ site.url }}{url}' class='list-group-item list-group-item-action'>{title}</a>",
    json: '/search.json'
  })
</script>-->
  <script src={{ '/assets/js/main.js' | relative_url }} type="text/javascript"></script>
  <script>
    // to play the video on modal homescreen slider click event binding
    // $('.playvideomodal').on('click', function () { LaunchModal($(this).data('video'), $(this).data('heading')); });

    $("#search-btn").click(function () {
      $(".wrapper").addClass("active");
      $(this).css("display", "none");
      $(".search-data").fadeIn(500);
      $(".close-btn").fadeIn(500);
      $(".search-data .line").addClass("active");
      setTimeout(function () {
        $("input").focus();
        $(".search-data label").fadeIn(500);
        $(".search-data span").fadeIn(500);
      }, 800);
    });
    $(".close-btn").click(function () {
      $(".wrapper").removeClass("active");
      $("#search-btn").fadeIn(800);
      $(".search-data").fadeOut(500);
      $(".close-btn").fadeOut(500);
      $(".search-data .line").removeClass("active");
      $("input").val("");
      $(".search-data label").fadeOut(500);
      $(".search-data span").fadeOut(500);
    });

    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      searchResultTemplate: "<a href='{{ site.url }}{url}' class='list-group-item list-group-item-action'>{title}</a>",
      json: "{{ '/search.json' | relative_url }}"
    })
  </script>
  <script type="application/ld+json">
    {{ page.schemas | jsonify }}
 </script>
 <script>

	 var timepicker = new TimePicker('time', {
  	 lang: 'en',
  	 theme: 'dark'
	});
	timepicker.on('change', function(evt) {

  	var value = (evt.hour || '00') + ':' + (evt.minute || '00');
  	evt.element.value = value;

});
 </script>

</body>

</html>
