---
layout: default
---
<div class="container" style="margin-top:3rem;">
    <div class="row">
        <div class="col-lg-4">
            <h3 class="fw-normal">The Bio Network for Training - BioNT</h3>

            <hr />
            <p>The aim of <strong>BioNT</strong> consortium is to provide a high-quality training program and community for
                digital skills relevant to the <strong>biotechnology industry</strong> and <strong>biomedical sector</strong><br /> </p>
            <div>
                <a href={{ '/about' | relative_url }} class="btn btn-round"
                    style="background-color: #1C6E8C; color: whitesmoke;"">Learn more</a>
                </a>
            </div>
        </div>
<!--        <div class=" col-lg-8">-->
<!--                    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" style="max-height:480px ;"-->
<!--                        data-bs-ride="carousel">-->
<!--                        <div class="carousel-indicators">-->
<!--                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"-->
<!--                                class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"-->
<!--                                aria-label="Slide 2"></button>-->
<!--                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"-->
<!--                                aria-label="Slide 3"></button>-->
<!--                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"-->
<!--                                aria-label="Slide 4"></button>-->
<!--                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"-->
<!--                                aria-label="Slide 5"></button>-->
<!--                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"-->
<!--                                aria-label="Slide 6"></button>-->
<!--                            &lt;!&ndash;-->
<!--                                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"-->
<!--                                aria-label="Slide 7"></button>&ndash;&gt;-->
<!--                                -->
<!--                                -->

<!--                        </div>-->
<!--                        &lt;!&ndash; Sliders &ndash;&gt;-->
<!--                        <div class="carousel-inner">-->

<!--                            <div class="carousel-item active">-->
<!--                                <a href='https://nfdi4microbiota.de/newsletter/thirdnewsletter'>-->
<!--                                    <img src={{ "assets/img/slider/2023-02-06_nfdi4microbiota_Slide_newsletter.png" | relative_url }}-->
<!--                                        class="d-block w-100" alt="..."-->
<!--                                        style="max-width: 100%; max-height: 480px; display: block;">-->
<!--                                  -->
<!--                                </a>-->
<!--                            </div>-->

<!--                            <div class="carousel-item">-->
<!--                                <a href={{ '/about' | relative_url }} class="playvideomodal" data-video="/assets/img/NFDI4Microbiota_ShortVDO.mp4"-->
<!--                                    data-heading="NFDI4Microbiota Short Video">-->
<!--                                    <img src={{ "/assets/img/slider/g1179.png" | relative_url }} class="d-block w-100"-->
<!--                                        alt="..." style="max-width: 100%; max-height: 480px; display: block;">-->
<!--                                    <div class="carousel-caption d-none d-md-block">-->
<!--                                        <h5 style="background-color: rgba(247, 187, 60, 0.507);">Learn more about our-->
<!--                                            project, aims and goals</h5>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->

<!--                            <div class="carousel-item">-->
<!--                                <a href="https://www.youtube.com/watch?v=uJ01g9m8uE4" target="_blank">-->
<!--                                    <img src={{ "/assets/img/slider/video_image.png" | relative_url }}-->
<!--                                        class="d-block w-100" alt="..."-->
<!--                                        style="max-width: 100%; max-height: 480px; display: block;">-->
<!--                                    <div class="carousel-caption d-none d-md-block">-->
<!--                                        <h5 style="background-color: rgba(247, 187, 60, 0.507);">Get further information-->
<!--                                            on the NFDI initiative in this video provided by the DFG</h5>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->

<!--                            <div class="carousel-item">-->
<!--                                <a href={{ '/Test ambassador' | relative_url }}>-->
<!--                                    <img src={{ "/assets/img/slider/Ambassador.jpg" | relative_url }}-->
<!--                                        class="d-block w-100" alt="..."-->
<!--                                        style="max-width: 100%; max-height: 480px; display: block;">-->
<!--                                    <div class="carousel-caption d-none d-md-block">-->
<!--                                        <h5 style="background-color: rgba(247, 187, 60, 0.507);">Become a-->
<!--                                            NFDI4Microbiota ambassador and be part of the process and a valued member of-->
<!--                                            our project</h5>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->

<!--                            <div class="carousel-item">-->
<!--                                <a href={{ '/contact-form' | relative_url }}>-->
<!--                                    <img src={{ "/assets/img/slider/Helpdesk.jpg" | relative_url }}-->
<!--                                        class="d-block w-100" alt="..."-->
<!--                                        style="max-width: 100%; max-height: 480px; display: block;">-->
<!--                                    <div class="carousel-caption d-none d-md-block">-->
<!--                                        <h5 style="background-color: rgba(247, 187, 60, 0.507);">Do you have questions-->
<!--                                            that cannot be answered by our FAQs, then we are glad to help</h5>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"-->
<!--                            data-bs-slide="prev">-->
<!--                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                            <span class="visually-hidden">Previous</span>-->
<!--                        </button>-->
<!--                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"-->
<!--                            data-bs-slide="next">-->
<!--                            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                            <span class="visually-hidden">Next</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--            </div>-->
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="background-color: #ececec;">
                    <div class="card-body">
                        <h5 class="card-title">Training</h5>

                        <p class="card-text">Our consortium offers different training courses on topics like RDM,
                            several data
                            analysis tools, etc...</p>
                        <a href={{ '/training/training' | relative_url }} class="btn btn-round"
                            style="background-color: #1C6E8C; color: whitesmoke;"">All Training</a>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                            <div class="card" style="background-color: #ececec;">
                                <div class="card-body">
                                    <div class="row">
                                        <h5 class="card-title col-md-6">Events </h5>
                                        <a class="col-md-6 text-end" href="/latest/events.html">All Events</a>
                                    </div>

                                    {% assign events = site.events | sort: date | reverse | slice: 0, 3 %}
                                    {% for e in events %}

                                    <div class="card" style="background-color: #ececec;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <div class="update-event_icon">
                                                        <div class="event_month">{{e.month}}</div>
                                                        <div class="event_day">{{e.day}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-10">
                                                    <p class="card-text">{{e.title}} <a target="_blank" href="{{e.info}}">Details</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}

                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="background-color: #ececec;">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title col-md-6">News</h5>
                                    <a class="col-md-6 text-end" href="/latest/news">All News</a>
                                </div>

                                {% assign news = site.news | sort: date | reverse | slice: 0, 3 %}
                                {% for n in news %}

                                <div class="card" style="background-color: #ececec;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-1"><i class="fa fa-newspaper"></i></div>
                                            <div class="col-lg-11">
                                                <p class="card-text">{{n.title}} <a
                                                        href="{{ n.url | relative_url }}">Read
                                                        more..</a> </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script>

            function LaunchModal(videosource, heading) {
                $('.modal-body').html('<video width="100%" height="600px" controls autoplay><source src="' + videosource + '" type="video/mp4">Your browser does not support the video tag.</video>')
                $('#basicmodallabel').text(heading);
                $('.modal').modal('toggle');
            }
        </script>
