---
layout: default
---

<h2 class="container mt-5"> News </h2>
<div class="container my-4">
	<div class="accordion" id="newsaccordion">
		{% assign counter = 1 %}
		{% assign news = site.news | sort: date | reverse %}
		{% for item in news %}


		<div class="accordion-item">
			<h2 class="accordion-header" id="heading{{counter}}">
				<button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse{{counter}}" aria-expanded="false" aria-controls="collapse{{counter}}">
					<span class="me-3"></i> <i class="fa-solid fa-calendar"></i> {{ item.date | date: "%F
						"}}</span><b>{{
						item.title }}</b>
				</button>
			</h2>
			<div id="collapse{{counter}}" class="accordion-collapse collapse" aria-labelledby="heading{{counter}}"
				data-bs-parent="#newsaccordion">
				<div class="accordion-body">
					{{ item.content }}
				</div>
			</div>
		</div>


		{% assign counter = counter | plus: 1 %}

		{% endfor %}
	</div>
</div>